{% extends 'base.html.twig' %}

{% block title %}Добавление нового предложения{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-12 mx-auto">
            <div class="card card-signin my-5">
                <div class="card-body">
                    <form method="POST" action="" enctype="multipart/form-data">
                    <h5 class="card-title text-center">Добавление нового предложения</h5>
                        {{ form_start(offerForm) }}
                        {{ form_row(offerForm.title, {label: "Заголовок"}) }}
                        {{ form_row(offerForm.number, {label: "№ предложения"}) }}
                        {{ form_row(offerForm.offerType, {label: "Тип предложения"}) }}
                        {{ form_row(offerForm.contractor, {label: "Предложение для компании", attr:{'contractorId': id}}) }}
                        {{ form_row(offerForm.createdAt, {label: "Дата создания."}) }}

                    <div class="form-group">
                        <ul class="collection-ul-email" data-prototype="{{ form_widget(offerForm.attach.vars.prototype)|e('html_attr') }}">
                            {% for single in offerForm.attach %}
                                <li>{{ form_row(single, {label: "Прикрепленные файлы."}) }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                    <button class="btn btn-lg btn-primary" type = "submit">Добавить</button>
                    {{ form_end(offerForm) }}
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent () }}

    <script src="{{ asset ('/js/attach-collection-widget.js') }}"></script>
{% endblock %}