{% extends 'base.html.twig' %}

{% block title %}Клиенты{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-lg-12 mt-3 text-right">
                <a class="btn btn-outline-secondary" href="{{ path ('add_contractor') }}">
                    <i class="fas fa-plus-circle"></i>  Добавить
                </a>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-12 mx-auto">
            <h2 class="article-title">Клиенты</h2>
            <form name="" action="">
                <div class="input">
                    <input type="text" class="form-control" onfocus="hideIcon(this);" id="search-input" data-autocomplete-url="/api/search/contractors" data-autocomplete-type="customers">
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <h5 class="mt-5 text-center">Последние просмотренные</h5>
            {% if lastCustomers|length > 0 %}
                <div class="card card-signin mb-3">
                    <div class="card-body">
                        <table class="table table-hover">
                            <thead class="thead-light">
                            <tr>
                                <th scope="col">Название</th>
                                <th scope="col">Страна</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for customer in lastCustomers %}
                                <tr>
                                    <td class="font-weight-bold company-name"><a href="{{ path('show_contractor', {id: customer.id}) }}">{{ customer.name }}</a></td>
                                    <td>{{ customer.country }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 text-right company-name mb-2">
            <a href="{{ path ('list_contractors', {contractorType: 'customers'}) }}"><i class="fas fa-eye btn"></i> показать всех</a>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 col-md-7 col-sm-9 pb-5">
            <div class="accordion accordion-single" id="accordion">
                <div class="card">
                    <div class="card-header" id="heading">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed a-gray" type="button" data-toggle="collapse" data-target="#collapse" aria-expanded="false" aria-controls="collapseTwo">
                                Выбрать из списка
                            </button>
                        </h5>
                    </div>
                    <div id="collapse" class="collapse" aria-labelledby="heading" data-parent="#accordion">
                        <div class="card-body">
                            <form id="selectContractor"  method="post" action="{{ path ('show_contractor', {id: 164}) }}">
                            {{ form_start(selectCustomerForm) }}

                            {{ form_row(selectCustomerForm.name, {label: "Страна."}) }}
                            {{ form_row(selectCustomerForm.contractor, {label: "Компания.", attr:{"disabled":"disabled", "contractorType":"customer"}}) }}

                            <button class="btn btn-lg btn-primary" id="selectContractorButton" type = "submit" disabled="true">Показать</button>
                            {{ form_end(selectCustomerForm) }}
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent () }}

    <script src="{{ asset ('/js/autocomplete.jquery.min.js') }}"></script>
    <script src="{{ asset ('/js/algolia-autocomplete.js') }}"></script>
    <script src="{{ asset ('/js/select-contractor.js') }}"></script>
{% endblock %}
